body {
    margin: 0;
}

.section-top {
    position: relative;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 120px;
}

.section-top::before {
    content: "";
    background-color: #000;
    width: 105%;
    height: 200%;
    position: absolute;
    right: -54.5%;
    top: -47%;
    z-index: 5;
    animation: see 1s forwards;
    /* transform: rotate(-15deg); */
}


.section-top::after {
    z-index: 6;
    content: "";
    background-color: #f6de79;
    width: 1px;
    height: 300%;
    transform: rotate(-15deg);
    position: absolute;
    right: 10px;
    top: 0;
    -webkit-transform: rotate(-15deg) translateY(-120vh);
    transform: rotate(-18deg) translateY(-120vh);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.3s;
    transition: -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.3s;
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.3s;
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.3s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.3s;
}

header nav .navi-global {
    display: flex;
}

ul {
    list-style: none;
}

.header .logo {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.header .logo img {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.header {
    z-index: 800;
    position: fixed;
    padding: 20px 0;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav_bar {
    list-style: none;
    color: #fff;
    display: flex;
    z-index: 100;
}

.nav_bar li {
    padding: 0 30px;
}

.nav_bar li a {
    text-decoration: none;
    font-family: "akrobat";
    color: #000;
    font-size: 14px;
}

.img-area {
    position: absolute;
    left: 50%;
    margin-left: -500px;
    width: 1500px;
    display: flex;
    top: 100px;
    /* opacity: 0; */

}

.img-area .part.part01 {
    opacity: 0;
    animation: appear 1s 1s forwards;
}

.img-area .part.part02 {
    opacity: 0;
    /* transition-delay: 1.6s; */
    animation: appear 1s 1.2s forwards;
}

.img-area .part.part03 {
    opacity: 0;
    /* transition-delay: 1.7s; */
    animation: appear 1s 1.3s forwards;
}

.img-area .part.part04 {
    opacity: 0;
    /* transition-delay: 1.8s; */
    animation: appear 1s 1.4s forwards;

}

.part {
    margin-right: 50px;
    width: 165px;
    height: 400px;
    z-index: 5;
}

.img-area .part img {
    width: 100%;
    height: 100%;
}

.top_detail {
    display: flex;
    width: 400px;
}

.top_text_area {
    background-color: #fff;
    z-index: 4;
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 0px;
    margin-left: -500px;
    padding: 40px 30px;
}

.top_intro {
    margin-right: 20px;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top_detail::before {
    content: '';
    background-color: #000;
    width: 15px;
    height: 100%;
    transform: rotate(18deg);
    z-index: -1;
    margin-right: 40px;
}

.dingzhihua {
    margin-left: 10px;
}

.zhuangye {
    margin-left: 6px;
}

.love {
    justify-content: center;
    display: flex;
    text-align: center;
    margin-top: 100px;
}

#pinkboard {
    z-index: 200;
}

.love .love_text {
    font-weight: 600;
    font-size: 80px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -400px;
    z-index: 300;
}

.love .love_text2 {
    top: 40%;
}

.example {
    position: relative;
    overflow: hidden;
    margin-bottom: 120px;
}

/* .example::before {
    content: "";
    background-color: #f4f4f4;
    width: 326px;
    height: 200%;
    position: absolute;
    left: 0%;
    top: -400px;
    transform: rotate(15deg);
    z-index: -1;
} */

.example_fangkuai{
    left: 0px;
}

.example h2 {
    position: relative;
    font-size: 60px;
    letter-spacing: 8px;
    margin-bottom: 35px;
    font-family: "akrobat";
}

.example h2::before {
    content: "";
    position: absolute;
    left: -56px;
    top: -39px;
    background-color: yellow;
    width: 10px;
    height: 110px;
    transform: rotate(15deg);
}

.example_inner {
    width: 1200px;
    margin: 0 auto;
}

.content-area {
    position: relative;
}

.list-service {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

ul {
    list-style: none;
}

.list-service li {
    position: relative;
    width: 560px;
    height: 350px;
    overflow: hidden;
    margin-bottom: 82px;
    box-shadow: 11px 13px 27px 6px rgb(0 0 0 / 8%);
}

.list-service li a {
    color: #111;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.list-service li a:before {
    content: "";
    background: url('./assets/img/icon-arrow-black.png') no-repeat;
    width: 32px;
    height: 11px;
    background-size: 100%;
    position: absolute;
    z-index: 50;
    left: 32px;
    bottom: 32px;
    left: initial;
    right: 32px;
    transition: all 0.6s;
}

.list-service li a:hover::before {
    transform: translateX(10px);
}


.list-service .white-box {
    position: relative;
    height: 100%;
    padding-left: 280px;
    z-index: 50;
    overflow: hidden;
}

.list-service .text-mini {
    font-size: 12px;
    font-weight: bold;
    padding: 38px 0 30px 32px;
}

.list-service li.workship .title-service {
    width: 197px;
}

.list-service li.workship .title-service img {
    width: 100%;
    height: 100%;
}

.list-service .text-detail {
    position: absolute;
    width: 240px;
    font-size: 14px;
    padding-top: 28px;
    line-height: 28px;
    z-index: 100;
}

.list-service li a:after {
    content: "";
    background-color: #fff;
    width: 556px;
    height: 150%;
    z-index: 1;
    position: absolute;
    right: -240px;
    top: -20px;
    transform: rotate(15deg);
}

.list-service li:nth-child(even) {
    margin-top: -250px;
}


/* 业务能力样式 */
.ability {
    position: relative;
    height: 800px;
    /* background-color: pink; */
    overflow: hidden;
    margin-bottom: 120px;
}

/* .ability::before {
    content: "";
    background-color: #f4f4f4;
    width: 326px;
    height: 200%;
    position: absolute;
    left: 10%;
    top: -400px;
    z-index: -1;
} */

.fangkuai {
    background-color: #f4f4f4;
    width: 326px;
    height: 200%;
    position: absolute;
    top: -400px;
    transform: rotate(10deg);
    z-index: -1;
}

.ability_fangkuai {
    left: 100px;
}

.ability::after {
    content: "";
    background: url('./assets/img/index/img-about.jpg');
    height: 75%;
    width: 1300px;
    position: absolute;
    left: 15%;
    top: 0px;
    margin: 100px 0;
    z-index: -2;
}

.ability h2 {
    position: relative;
    font-size: 60px;
    letter-spacing: 8px;
    margin-bottom: 35px;
    font-family: "akrobat";
}

.ability h2::before {
    content: "";
    position: absolute;
    left: -45px;
    top: -39px;
    background-color: yellow;
    width: 10px;
    height: 110px;
    transform: rotate(-15deg);
}

.ability_inner {
    width: 1200px;
    margin: 0 auto;
}

.ability_text {
    width: 500px;
}

.list_abillity {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list_abillity li {
    position: relative;
    width: 360px;
    height: 240px;
    overflow: hidden;
    box-shadow: 16px 16px 40px 0px rgb(0 0 0 / 12%);
}

.list_abillity .recruit::before {
    background: url('./assets/img/index/1img-service_workship.png') no-repeat;
    background-size: 100%;
    transition: all 0.6s;
}

.list_abillity li:hover::before {
    transform: translateX(10px);
}

.list_abillity li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-size: 100%;
    width: 360px;
    height: 100%;
}

.list_abillity li a:before {
    content: "";
    background: url('./assets/img/icon-arrow-black.png') no-repeat;
    width: 32px;
    height: 11px;
    background-size: 100%;
    position: absolute;
    z-index: 800;
    left: 32px;
    bottom: 32px;
    transition: all 0.6s;
}

.list_abillity li a:hover::before {
    transform: translateX(10px);
}


.list_abillity li .white-box {
    position: relative;
    height: 100%;
    padding-left: 32px;
    z-index: 50;
}

.list_abillity li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: #111;
    text-decoration: none;
    overflow: hidden;
}

.list_abillity li .text-mini {
    font-size: 13px;
    margin-bottom: 32px;
    padding-top: 48px;
    font-weight: bold;
}

.list_abillity li .title-about {
    font-size: 32px;
    font-weight: bold;
    font-family: "akrobat";
    letter-spacing: 4px;
}

.list_abillity li::after {
    content: "";
    background-color: #fff;
    width: 235px;
    height: 130%;
    z-index: 10;
    position: absolute;
    left: -30px;
    top: -37px;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

.list_abillity li.company::before {
    background: url('./assets/img/index/1img-service_workship.png') no-repeat;
    background-size: 100%;
    transition: all 0.6s;
}

.list_abillity li.office::before {
    background: url('./assets/img/index/1img-service_workship.png') no-repeat;
    background-size: 100%;
    transition: all 0.6s;
}

.about_big_font {
    /* margin: 30px 0; */
    font-size: 20px;
    margin-top: 50px;
    margin-left: -35px;
    font-weight: 600;
}



/* 关于我们样式 */
.about {
    margin-bottom: 120px;
    height: 700px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.about_fangkuai{
    z-index: 300;
    left: 50%;
    margin-left: -163px;
}

.about img {
    width: 50%;
    height: 560px;
}


.about_text {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 500;
    transform: translate(-50%, -50%);
    text-align: center;
}

.about_p {
    width: 300px;
}

.about_h2 {
    position: relative;
    font-size: 60px;
    letter-spacing: 8px;
    margin-bottom: 35px;
    font-family: "akrobat";
}

.about h2::before {
    content: "";
    position: absolute;
    left: -40px;
    top: -25px;
    background-color: yellow;
    width: 10px;
    height: 110px;
    transform: rotate(15deg);
}

.about_text a {
    margin-top: 100px;
    position: relative;
    display: block;
    width: 330px;
    background-color: #111;
    color: #fff;
    font-family: "akrobat";
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    letter-spacing: 3.5px;
    height: 80px;
    line-height: 80px;
    box-shadow: 11px 13px 27px 6px rgb(0 0 0 / 8%);
    overflow: hidden;
    transition: color 0.2s ease-out;
}


/* 合作伙伴样式 */
.friend {
    position: relative;
    min-height: 600px;
    /* background-color: pink; */
    overflow: hidden;
    margin-bottom: 120px;
}
.friend_fangkuai{
    left: 100px;
}
/* 
.friend::before {
    content: "";
    background-color: #f4f4f4;
    width: 326px;
    height: 200%;
    position: absolute;
    left: 10%;
    top: -400px;
    transform: rotate(15deg);
    z-index: -1;
} */

.friend h2 {
    position: relative;
    font-size: 60px;
    letter-spacing: 8px;
    margin-bottom: 35px;
    font-family: "akrobat";
}

.friend h2::before {
    content: "";
    position: absolute;
    left: -56px;
    top: -39px;
    background-color: yellow;
    width: 10px;
    height: 110px;
    transform: rotate(-15deg);
}

.friend_inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.friend_text {
    width: 500px;
    margin-left: -20px;
}

.friend .list-logo {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    width: 700px;
    transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}

.friend .list-logo li {
    width: 216px;
    height: 120px;
    margin-bottom: 16px;
    margin-right: 16px;
    box-shadow: 11px 13px 27px 6px rgb(0 0 0 / 3%);
}

.friend .list-logo li img {
    width: 100%;
    height: 100%;
}

/* 底部样式 */
footer .top_area {
    width: 100%;
    height: 200px;
    background: url('./assets/img/index/foot.jpg') no-repeat;
    background-size: cover;
}

footer .bottom_area {
    background-color: #000;
    padding: 68px 0 53px 0;
}

footer .footer_inner {
    width: 1200px;
    margin: 0 auto;
}

.navi-box {
    display: flex;
    justify-content: center;
}

.navi-name {
    position: relative;
    width: 220px;
    margin-right: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-family: "akrobat";
    letter-spacing: 1.75px;
}

.navi-name::before {
    content: "";
    border-top: 1px solid #fff;
    width: 120px;
    height: 1px;
    position: absolute;
    top: 10px;
    right: -30px;
}

.navi-box .list-navi_global {
    display: flex;
}

.navi-box .list-navi_global a {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 13px;
    font-family: "akrobat";
    letter-spacing: 1.62px;
    text-decoration: none;
    padding-right: 10px;
    margin-right: 5px;
}

.navi-box .list-navi_global a:before {
    content: "|";
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

footer .number {
    color: #fff;
    text-align: center;
}





.card2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: all 0.2s;
    transform-style: preserve-3d;
    overflow: hidden;
}

.list-service li .card2:before {
    content: "";
    background: url('./assets/img/index/taptap.png') no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    background-size: 100%;
    width: 310px;
    height: 100%;
    transition: all 0.6s;
}

.list-service li .card2:hover::before {
    transform: scale(1.2)
}

.example_text {
    position: absolute;
    top: 30%;
    right: 30px;
    width: 240px;
    z-index: 222;
}

.example_intro {
    width: 500px;
    margin-bottom: 100px;
}

@keyframes see {
    0% {
        transform: translateY(-50%);

    }

    100% {
        transform: translateY(0) rotate(-15deg);

    }
}

@keyframes seesmall {
    0% {
        transform: translateY(-50%);

    }

    100% {
        transform: translateY(0) rotate(10deg);

    }
}


@keyframes appear {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

@keyframes imageSee {
    0% {
        transform: translateY(-50%);

    }

    100% {
        transform: translateY(0)

    }
}