








header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 500;
}

header .section-inner {
    z-index: 10;
    margin: 0 auto;
    position: relative;
    width: 1200px;
    overflow: hidden;
}
.text-area{
    margin-left: 300px;
}
header .header-area {
    display: flex;
    justify-content: space-between;
    padding:20px 0;
    transition: padding-top 0.5s linear;
}

header .header-area .logo-main img {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

header .header-area .logo-main a {
    display: flex;
    text-decoration: none;
    color: #000;
}

header nav .navi-global {
    display: flex;
    justify-content: center;
}

header nav .navi-global li {
    margin-right: 28px;
}

header nav .navi-global li a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #111;
    font-size: 14px;
    font-family: "akrobat";
    letter-spacing: 3.5px;
}

header nav .navi-global li span {
    position: relative;
    font-family: "akrobat";
}

header nav .navi-global li span:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    border-bottom: solid 2px #111;
    transition: width 0.2s cubic-bezier(0.79, 0.17, 0.15, 0.96) 0.05s;
}

header nav .navi-global li.menu a {
    padding-right: 15px;
}

header nav .navi-global li a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #111;
    font-size: 14px;
    font-family: "akrobat";
    letter-spacing: 3.5px;
}

section .section-inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 120px;
}
.fangkuai {
    background-color: #f4f4f4;
    width: 326px;
    height: 200%;
    position: absolute;
    top:-400px;
    left: 10%;
    transform: rotate(10deg);
    z-index: -1;
}

h1 {
    position: absolute;
    right: 0;
    top: 40px;
    font-size: 11px;
    color: #888888;
    letter-spacing: 1.83px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    font-weight: normal;
}

.breadcrumbs {
    display: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.section-head {
    padding-top: 140px;
    position: relative;
}

.works .section-head:before {
    content: "";
    width: 681px;
    height: 261px;
    background: url('../assets/img/contact/contact.png') no-repeat;
    background-size: 100%;
    position: absolute;
    right: 0;
    bottom: -100px;
    z-index: 2;
    animation: seetwo 1s;
}

.section-head .black-area {
    position: relative;
    height: 325px;
    width: 80%;
    background-color: #000;
    animation: see 1s;
}

.section-head .black-area .section-inner {
    position: relative;
    height: 100%;
    padding: 91px 0 36px 0;
    box-sizing: border-box;
}

.section-head .black-area .section-inner:before {
    content: "";
    background: url('../assets/img/index/company.png') no-repeat;
    width: 83px;
    height: 325px;
    position: absolute;
    background-size: 100%;
    left: 937px;
    top: 0;
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.79, 0.17, 0.15, 0.96);
    transition: -webkit-transform 1s cubic-bezier(0.79, 0.17, 0.15, 0.96);
    transition: transform 1s cubic-bezier(0.79, 0.17, 0.15, 0.96);
    transition: transform 1s cubic-bezier(0.79, 0.17, 0.15, 0.96), -webkit-transform 1s cubic-bezier(0.79, 0.17, 0.15, 0.96);
}

.section-head h2 {
    color: #fff;
    font-size: 50px;
    font-family: "Akrobat";
    letter-spacing: 6.25px;
}

.section-head .text-mini {
    color: #fff;
    font-size: 16px;
    margin-top: 26px;
}

.section-head .text-breadcrumbs {
    margin-top: 100px;
    display: flex;
}

.section-head .text-breadcrumbs a {
    color: #888888;
    font-size: 12px;
    text-decoration: none;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.section-head .text-breadcrumbs span {
    font-size: 12px;
    margin: 0 0.5em;
    color: #888888;
}

.section-head .black-area .section-inner:after {
    content: "";
    position: absolute;
    width: 2090px;
    height: 325px;
    background-color: #111;
    position: absolute;
    left: -1150px;
    top: 0;
    z-index: -10;
    transform: translateX(-100vw);
    transition: transform 1s cubic-bezier(0.79, 0.17, 0.15, 0.96);
    transition: transform 1s cubic-bezier(0.79, 0.17, 0.15, 0.96), -webkit-transform 1s cubic-bezier(0.79, 0.17, 0.15, 0.96);
}

.works .section-content {
    position: relative;
    overflow: hidden;
    margin-top: 178px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.works .section-content .section-inner:before {
    content: "";
    background-color: #f4f4f4;
    width: 326px;
    height: 200%;
    position: absolute;
    left: 0;
    top: -170px;
    transform: rotate(15deg);
    z-index: -1;
    clip-path: inset(0 0 100% 0);
    -webkit-transition: -webkit-clip-path 1.5s cubic-bezier(0.475, 0.425, 0, 0.995) 0.2s;
    transition: -webkit-clip-path 1.5s cubic-bezier(0.475, 0.425, 0, 0.995) 0.2s;
    transition: clip-path 1.5s cubic-bezier(0.475, 0.425, 0, 0.995) 0.2s;
    transition: clip-path 1.5s cubic-bezier(0.475, 0.425, 0, 0.995) 0.2s, -webkit-clip-path 1.5s cubic-bezier(0.475, 0.425, 0, 0.995) 0.2s;
    top: -400px;
    left: -500px;
}

.works .section-content .list-works {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: all 1s ease 0.4s;
}

.works .section-content .list-works li {
    width: 560px;
    height: 510px;
    margin-bottom: 80px;
    background-color: #fff;
    box-shadow: 11px 13px 27px 6px rgb(0 0 0 / 8%);
}

.works .section-content .list-works li a {
    position: relative;
    text-decoration: none;
    color: #111;
    width: 100%;
    height: 100%;
    display: block;
}
.section-content .list-works li:hover img {
    transform: scale(1.2)
}
.section-content .list-works li:hover a::before {
    transform: translateX(10px)
}
.works .section-content .list-works li a:before {
    content: "";
    background: url('../assets/img/icon-arrow-black.png') no-repeat;
    width: 32px;
    height: 11px;
    background-size: 100%;
    position: absolute;
    z-index: 50;
    left: 32px;
    bottom: 32px;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    left: initial;
    right: 30px;
    bottom: 32px;
}

.works .section-content .list-works li .thumb {
    overflow: hidden;
}

.works .section-content .list-works li img {
    width: 560px;
    height: 350px;
    transition: -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.works .section-content .list-works li .detail-box {
    position: relative;
    margin: 0 80px;
}

.works .section-content .list-works li .detail-box:before {
    content: "";
    background-color: yellow;
    width: 30px;
    height: 88px;
    background-size: 100%;
    position: absolute;
    left: -50px;
    top: -70px;
}

.works .section-content .list-works li .client {
    font-size: 12px;
    font-weight: bold;
    margin-top: 21px;
}

.works .section-content .list-works li .title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
    margin: 10px 0;
    letter-spacing: 0.6px;
}

.works .section-content .list-works li .category {
    color: #888888;
    font-size: 12px;
    font-family: "akrobat";
    line-height: 1.5;
}

.works .section-content .list-works li a {
    position: relative;
    text-decoration: none;
    color: #111;
    width: 100%;
    height: 100%;
    display: block;
}

.works .section-content .list-works li:nth-child(even) {
    margin-top: 80px;
}

.works .section-content .list-works li {
    width: 560px;
    height: 510px;
    margin-bottom: 80px;
    background-color: #fff;
    -webkit-box-shadow: 11px 13px 27px 6px rgb(0 0 0 / 8%);
    box-shadow: 11px 13px 27px 6px rgb(0 0 0 / 8%);
}

.works .section-content .list-works li a {
    position: relative;
    text-decoration: none;
    color: #111;
    width: 100%;
    height: 100%;
    display: block;
}

.works .section-content .section-inner:after {
    content: "";
    background-color: #f4f4f4;
    width: 326px;
    height: 200%;
    position: absolute;
    left: 0;
    top: -170px;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    z-index: -1;
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
    -webkit-transition: -webkit-clip-path 1.5s cubic-bezier(0.475, 0.425, 0, 0.995) 0.2s;
    transition: -webkit-clip-path 1.5s cubic-bezier(0.475, 0.425, 0, 0.995) 0.2s;
    transition: clip-path 1.5s cubic-bezier(0.475, 0.425, 0, 0.995) 0.2s;
    transition: clip-path 1.5s cubic-bezier(0.475, 0.425, 0, 0.995) 0.2s, -webkit-clip-path 1.5s cubic-bezier(0.475, 0.425, 0, 0.995) 0.2s;
    top: initial;
    left: initial;
    right: -400px;
    bottom: -400px;
}


.works .section-content .section-inner:after {
    content: "";
    background-color: #f4f4f4;
    width: 326px;
    height: 200%;
    position: absolute;
    left: 0;
    top: -170px;
    transform: rotate(15deg);
    z-index: -1;
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
    transition: -webkit-clip-path 1.5s cubic-bezier(0.475, 0.425, 0, 0.995) 0.2s;
    transition: clip-path 1.5s cubic-bezier(0.475, 0.425, 0, 0.995) 0.2s;
    transition: clip-path 1.5s cubic-bezier(0.475, 0.425, 0, 0.995) 0.2s, -webkit-clip-path 1.5s cubic-bezier(0.475, 0.425, 0, 0.995) 0.2s;
    top: initial;
    left: initial;
    right: -400px;
    bottom: -400px;
}

main {
    display: block;
}

li {
    list-style: none;
}

body {
    margin: 0;
}

/* 底部样式 */
footer .top_area {
    width: 100%;
    height: 200px;
    background: url('../assets/img/index/foot.jpg') no-repeat;
    background-size: cover;
}

footer .bottom_area {
    background-color: #000;
    padding: 68px 0 53px 0;
}

footer .footer_inner {
    width: 1200px;
    margin: 0 auto;
}

.navi-box {
    display: flex;
    justify-content: center;
}

.navi-name {
    position: relative;
    width: 220px;
    margin-right: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-family: "akrobat";
    letter-spacing: 1.75px;
}

.navi-name::before {
    content: "";
    border-top: 1px solid #fff;
    width: 120px;
    height: 1px;
    position: absolute;
    top: 10px;
    right: -30px;
}

.navi-box .list-navi_global {
    display: flex;
}

.navi-box .list-navi_global a {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 13px;
    font-family: "akrobat";
    letter-spacing: 1.62px;
    text-decoration: none;
    padding-right: 10px;
    margin-right: 5px;
}

.navi-box .list-navi_global a:before {
    content: "|";
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

footer .number {
    color: #fff;
    text-align: center;
}
@keyframes see {
    0% {
        transform: translatex(-100%);

    }

    100% {
        transform: translatex(0);

    }
}

@keyframes seetwo {
    0% {
        transform: translatex(200%);

    }

    100% {
        transform: translatex(0);

    }
}

@keyframes seesmall {
    0% {
        transform: translateY(-50%);

    }

    100% {
        transform: translateY(0) rotate(10deg);

    }
}


.about_us{
    margin: 200px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about_img{
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 400px;
    margin: 30px 0;
    /* margin: 10px; */
}





li {
    list-style: none;
}

body {
    margin: 0;
}
